<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>我的考试记录</title>
<link href="../../css/stustyle.css" th:href="@{/static/css/stustyle.css}" rel="stylesheet">
<!-- 引入bootstrap样式 -->
<link href="../../css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
<!-- jquery -->
<script src="../../js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
<script src="../../js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- bootstrap-table.min.js -->
<script src="../../js/bootstrap-table.min.js" th:src="@{/static/js/bootstrap-table.min.js}"></script>
<!-- 引入中文语言包 -->
<script src="../../js/bootstrap-table-zh-CN.min.js" th:src="@{/static/js/bootstrap-table-zh-CN.min.js}"></script>

</head>
<body>
	<div class="cmtitle">我的考试记录</div>
	<div class="cmline"></div>
	<div style="margin-top:50px;">
		<table id="table">
		</table>
		<script>
			$("#table").bootstrapTable('destroy'); 
					$("#table").bootstrapTable({ // 对应table标签的id
					      url: "searchExamRecord", // 获取表格数据的url
					      cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
					      striped: true,  //表格显示条纹，默认为false
					      pagination: true, // 在表格底部显示分页组件，默认false
					      pageList: [1, 2], // 设置页面可以显示的数据条数
					      pageSize: 1, // 页面数据条数
					      pageNumber: 1, // 首页页码
					      sidePagination: 'server', // 设置为服务器端分页
					      queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
					
					          return {
					              pageSize: params.limit, // 每页要显示的数据条数
					              offset: params.offset, // 每页显示数据的开始行号
					              sort: params.sort, // 要排序的字段
					              sortOrder: params.order, // 排序规则
					              uid:$("#uid",parent.document).val()
					          }
					      },
					      sortName: 'cid', // 要排序的字段
					      sortOrder: 'desc', // 排序规则
					      columns: [
					          {
					              field: 'cid', // 返回json数据中的name
					              title: '课程号', // 表格表头显示文字
					              align: 'center', // 左右居中
					              valign: 'middle' // 上下居中
					          }, {
					              field: 'cname',
					              title: '课程名称',
					              align: 'center',
					              valign: 'middle'
					          }, {
					              field: 'examName',
					              title: '试卷名称',
					              align: 'center',
					              valign: 'middle'
					          }, {
					              field: 'time',
					              title: '考试时间',
					              align: 'center',
					              valign: 'middle'
					          }, {
					              field: 'goal',
					              title: '得分',
					              align: 'center',
					              valign: 'middle'
					          }
					      ],
					      onLoadSuccess: function(){  //加载成功时执行
					            console.info("加载成功");
					      },
					      onLoadError: function(){  //加载失败时执行
					            console.info("加载数据失败");
					      }
					})		
				</script>
	</div>
</body>
</html>